/****************************
        GENEREAL STYLE
*****************************/

@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: 'Life Savers', cursive;
}

body {
  width: 100vw;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: #f9efd2;
}

/****************************
          HEADER
*****************************/
#header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header * {
  margin: 0 10px;
}

#search-side * {
  display: inline-block;
}

/****************************
      LINES BG
*****************************/
#overlay {
  width: 100vw;
  z-index: -1;
  height: auto;
  top: -80px;
  right: 0;
}

#overlay #lines-bg {
  width: 100%;
  height: auto;
}

/****************************
          CLOUDS BLOC
*****************************/
#clouds-bloc {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#cloud1 {
  top: 5px;
  left: -20px;
}

#cloud2 {
  top: 50px;
  right: 10px;
}

#cloud3 {
  top: 20%;
  right: 25%;
}

#cloud4 {
  top: 50%;
  right: 20px;
}


/****************************
          INTRO
*****************************/
#intro {
  font-size: 2em;
  width: 700px;
  text-transform: uppercase;
  margin-left: 10%;
  margin-top: 6%;
}

#intro span {
  color: #ff6d5d;
}


/****************************
      PRESENTATION
*****************************/
#presentation {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
}

.playground {position: absolute;}

#sol {
  bottom: 0;
  right: -10%; 
}

#planet {
  bottom: 3%;
  right: 6%;
}

.tree {bottom: .5%;}
#blue-tree {right: 30%;}
#orange-tree {right: 13%;}
#green-tree {right: 5%;}

#flower {
  bottom: 2%;
  right: 25%;
}
