* {
  margin: 0;
  padding: 0;
  font-size: 1.07em;
}

body {
  height: 100%;
  width: 100%;
  background: url('images/background.png') no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 18px;
}

h1 {
  font-size: 2.8em
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.arrow {
  height: 55px;
  width: auto;
  margin: 0 20px;
}

article {
  padding-top: 167px;
}

aside img {
  width: auto;
  height: 674px;
}
